<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/homepage.css" />
    <script src="../../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../../Scripts/bootstrap.min.js"></script>
    <title>Recommend System</title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="col-lg-12 page-header sys-header">
        <p class="sys-title">Recommend System</p>
        <div class="sys-sub-title">
            <p>一个Toy级的推荐系统</p>
        </div>
    </div>
    <div class="col-lg-12">
        
        <div class="col-lg-4">
            <h2>UserCF</h2>
            <div class="sub-introduce">
                <p>基于用户的协同过滤算法是最古来的算法。这个算法的诞生标志了推荐系统的诞生。本系统中采用了基础算法和改进用户相似度改计算后的算法。</p>
            </div>
            <button type="button" class="btn btn-primary">UserCF</button>
        </div>
        
        <div class="col-lg-4">
            <h2>ItemCF</h2>
            <div class="sub-introduce">
                <p>基于物品的协同过滤算法是目前业界采用最多的算法。本系统中采用了基础算法和改进物品相似度计算后的算法</p>
            </div>
            <button type="button"class="btn btn-primary">ItemCF</button>
        </div>
        
        <div class="col-lg-4">
            <h2>DataSet</h2>
            <div class="sub-introduce">
                <p>本系统中采用的数据集为GroupLens提供的<a href="http://www.grouplens.org/node/73">MovieLens数据集</a>。MovieLens数据集有3个不同的版本，本系统中采用最小的版本。600多用户对9000多部电影的10万条评分。</p>
            </div>
            <button type="button" class="btn btn-primary">DataSet</button>
        </div>
    </div> 
</body>
</html>
